{% extends 'index.html' %}
{% load static %}

{% block content %}

<section class="viajes_container">
  <div class="contenedor_detail">
    <div class="contenedor_item">
      <div class="contenido_detail">
        <div>
          <h4 class="">Empresa: {{ cruceros.compania }}</h4><br>
          <h5 class=""> Viaja a <u>{{ cruceros.continente }}</u></h5>
          <h5 class=""> Desde {{ cruceros.puerto }}</h5>
          <h5 class="">Valor base: <strong>{{ cruceros.precio }}</strong></h5>
        </div>
      </div>
      <img class="contenedor_img"
        src="{% if compania_imagen %}{{ compania_imagen }}{% else %}{% static 'img/default.jpg' %}{% endif %}"
        alt="Imagen de Compañía">
    </div>
  </div>

  <div class="btn">
    <a class="button1" href="{% url 'cruceros:all' %}">Volver</a>
  </div>
</section>

{% endblock %}