{% extends 'index.html' %} {% load static %}

{% block content %}
<main>
  <section class="viajes_container">
    <h2>Viajes</h2>
    <a class="formulario-form-button a_button" href="{% url 'cruceros:create' %}"><strong>+</strong> Agregar viaje</a>

    {% for cruceros in cruceros_list %}
    <div class="list">

      <span class="circle_conteiner">
        <h4 class="circle">{{forloop.counter}}</h4>
      </span>

      <div  class="card_list">
        <h5> Viaje a {{cruceros.continente}}</h5>
        <p> Desde {{cruceros.puerto}}</p>
      </div>

      <div class="buttons_list">
        <span>
          <a class="button2" href="{% url 'cruceros:detail' cruceros.id %}">Detalle</a>
        </span>
        <span>
          <a class="button2" href="{% url 'cruceros:update' cruceros.id %}">Editar</a>
        </span>
        <span>
          <a class="button2" href="{% url 'cruceros:delete' cruceros.id %}">Borrar</a>
        </span>
      </div>

    </div>

    {% endfor %}
    <div class="btn">
      <a class="button1" href="{% url 'index' %}">Volver a Home</a>
    </div>
  </section>
</main>
{% endblock %}