{% extends 'index.html' %} {% load static %}

{% block content %}

  <section class="viajes_container">
    <h2>CREAR VIAJE</h2>
    <div class="viajes_create">
      <form method="post">
          {% csrf_token %}

          {% for field in form %}
          <div class="form-field">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
          </div>
          {% endfor %}
        <input class="formulario-form-button a_button" type="submit" value="{{ tipo }}" />
        </form>
    </div>
    <a class="formulario-form-button a_button a_button--back" href="{% url 'cruceros:all' %}">Volvamos al Inicio</a>
  </section>

{% endblock %}