/* estilo de template cruceros.html */
.viajes_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-field {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  width: 22rem;
  max-width: 100%;
}

.list {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0);
  padding: 1rem;
  margin: 1rem;
  width: 70vh;
  transition: 0.4s ease-in-out;
}

.list:hover {
  transform: scale(1.05);
  border: 4px solid rgb(255, 255, 255);
}

.circle_conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crucero_lista {
  color: white;
  text-decoration: none;
}

.list > div > span {
  margin: 1rem;
}

.list > div > span > a {
  color: white;
  text-decoration: none;
}

.card_list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 1.2rem;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255);
}

.a_button {
  text-decoration: none;
  margin: 1rem;
  padding: 0.5rem;
  font-size: small;
  background-color: rgb(74, 124, 0);
}

.a_button:hover {
  background-color: rgba(61, 101, 0, 0.85);
  box-shadow: inset -1px -3px 8px rgba(46, 77, 0, 0.616);
  color: white;
}

.a_button:active {
  box-shadow: inset 1px 3px 8px rgba(46, 77, 0, 0.616);
}

.a_button--back {
  background: rgb(90, 89, 89);
  width: 12rem;
  font-size: medium;
}

.buttons_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button2 {
  padding: 0.5em 1.1em;
  border-radius: 12px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: rgba(156, 156, 156, 0.6);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
  color: white;
  width: 10rem;
  text-decoration: none;
}

.button2:hover {
  background-color: rgb(156, 156, 156, 0.85);
  box-shadow: inset -1px -3px 8px rgba(56, 57, 57, 0.616);
  color: white;
}

.button2:active {
  box-shadow: inset 1px 3px 8px rgba(0, 19, 29, 0.616);
}

.btn{
  margin: 2rem;
}


/* Diseño de DETAIL */
.card {
  position: relative;
  width: 315px;
  height: 450px;
  margin: 30px auto;
  box-shadow: 0 0 100px rgba(0,0,0, .3);
  border-radius: 10px;
}

.card-header {
  position: relative;
  height: 220px;
  background-size: cover;
  background-position: top;
}

.card-header:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(5,85,134), rgba(181,181,181, -0.20));
  border-radius: 10px;
}

.company-image {
  position: absolute;
  margin-top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #222;
  font-size: 20px;
  font-weight: 400;
}

.card-body {
  text-align: center;
  padding-left: 10px;
}

.name {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.job-title {
  font-size: 14px;
  font-weight: 300;
  margin-top: 15px;
  color: #919191;
}

.bio {
  font-size: 14px;
  color: #7B7B7B;
  font-weight: 300;
  margin: 10px auto;
  line-height: 20px;
}
