{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static './media/img/favicon.svg' %}" type="image/svg+xml">
  <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"
    crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

  <link rel="stylesheet" href="{% static './css/style.css' %}" />
  <title>Sea You Later - Tu Agencia de Cruceros</title>
</head>

<body>

  <header id="header">
    <!-- Sección Navbar -->
    <nav class="navbar2" id="navbar">
      <div class="nav-items">
        <a href="#" class="nav-item">Inicio</a>
        <a href="#destacados" class="nav-item">Destacados</a>
        <a href="#companias" class="nav-item">Compañías</a>
        <a href="#nosotros" class="nav-item">Sobre Nosotros</a>
        <a href="#fromulario" class="nav-item">Contacto</a>
      </div>
      <img class="icon_menu" src="{% static './media/img/icon _menu.svg' %}" alt="logo menu hamburguesa">
      <a href="#"><img class="syl_logo" src="{% static './media/img/SYL_logo.svg' %}" alt="SeaYouLater logo"></a>

      <!--Menu desplegable / mobile-->
      <div id="menu2" class="menu">
        <img class="icon_close" src="{% static './media/img/icon_close.svg' %}" alt="icono de cierre">
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#destacados">Destacados</a></li>
          <li><a href="#companias">Compañías</a></li>
          <li><a href="#nosotros">Sobre Nosotros</a></li>
          <li><a href="#fromulario">Contacto</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <div class="footer-text">
      <p>SYL - © Todos los derechos reservados</p>
    </div>
    <div class="footer-icons">
      <a href="https://www.facebook.com" target="_blank">
        <img class="footer-icon" src="{% static './media/img/face.svg' %}" alt="Icono 1">
      </a>
      <a href="https://www.twitter.com" target="_blank">
        <img class="footer-icon" src="{% static './media/img/x.svg' %}" alt="Icono 2">
      </a>
      <a href="https://www.https://mail.google.com/mail/u/0/#inbox" target="_blank">
        <img class="footer-icon" src="{% static './media/img/mail.svg' %}" alt="Icono 3">
      </a>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous"
    defer></script>
  <script src="{% static './js/script.js' %}"></script>
</body>

</html>