{% extends "base.html" %}
{% load static %}

{% block titulo %}Inicio{% endblock %}


<main>
  {% block content %}
  <!-- Sección portada -->
  <section class="portada_section">
    <div class="titulo tracking-in-expand">
      <h1>Sea You Later</h1>
      <h3>Tu Agencia de Cruceros</h3>
    </div>
    <img class="img_portada_xs" src="{% static './media/img/cruceroXS.webp' %}"
      alt="portada/imagen de un crucero al atardecer">
    <img class="img_portada_sm" src="{% static './media/img/cruceroSM.webp' %}"
      alt="portada/imagen de un crucero al atardecer">
    <img class="img_portada_xl" src="{% static './media/img/cruceroXL.webp' %}"
      alt="portada/imagen de un crucero al atardecer">
  </section>

  <!-- Sección login -->
  <section class="form_section">
    <form class="form">
      <h3>Ingresa tus datos:</h3>
      <div class="field">
        <input autocomplete="off" placeholder="Username" class="input-field" type="text">
      </div>
      <div class="field">
        <input placeholder="Password" class="input-field" type="password">
      </div>
      <div class="btn">
        <a class="button1" href="{% url 'viajes:all' %}">Login</a>
      </div>
    </form>
  </section>

  <!-- Sección Carrusel  -->
  <section>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active destacados-card-1">
          <div>
            <h3>Descubre el paraiso en el mar</h3>
            <p>Explora destinos exóticos y culturas unicas en nuestros cruceros</p>
          </div>
        </div>
        <div class="carousel-item active destacados-card-2">
          <div>
            <h3>Emociónate en Alta Mar</h3>
            <p>Vive aventuras inolvidables en nuestros más exclusivos cruceros</p>
          </div>
        </div>
        <div class="carousel-item active destacados-card-3">
          <div>
            <h3>Elegancia y conford a bordo</h3>
            <p>Relajate y disfruta en nuestros cruceros 5 estrellas</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <!-- Sección Destacados (proximamente: Ofertas) -->
  <section id="destacados">
    <h2>Destacados</h2>
    <!-- Cards de ofertas -->
    <div class="ofertas-cards">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front img1">
            <h3>Mediterráneo</h3>
          </div>
          <div class="flip-card-back img1__back">
            <p>Disfruta de mucha historia y sabor</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front img2">
            <h3>Caribe</h3>
          </div>
          <div class="flip-card-back img2__back">
            <p>Paraíso bajo el sol.</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front img3">
            <h3>Asia</h3>
          </div>
          <div class="flip-card-back img3__back">
            <p>Cultura y exotismo</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front img4">
            <h3>Sudamerica</h3>
          </div>
          <div class="flip-card-back  img4__back">
            <p>Explora la gran diversidad.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección video desktop -->
  <section class="parallax-container">
    <div class="parallax-video">
      <video class="video" autoplay loop muted>
        <source src="{% static './media/video_crucero.mp4' %}" type="video/mp4">
        Tu navegador no soporta la reproducción de videos.
      </video>
    </div>

  </section>

  <!-- Sección de Logos de Compañías -->
  <section id="companias" class="companias_section">
    <h2>Compañías</h2>
    <div class="logos">
      <img src="{% static './media/img/logos_companias/msc_cruises_logo.webp' %}" alt="logo de MSC Cruceros">
      <img src="{% static './media/img/logos_companias/royal_caribbean_group_logo.webp' %}"
        alt="logo de Royal Caribbean Group">
      <img src="{% static './media/img/logos_companias/viking_cruises_logo.webp' %}" alt="logo de Viking Cruises">
      <img src="{% static './media/img/logos_companias/norwegian-cruise-lin' %}e-logo.webp"
        alt="logo de Norwegian Cruise Line">
      <img src="{% static './media/img/logos_companias/seabourn_logo.webp' %}" alt="logo de Seabourn">
      <img src="{% static './media/img/logos_companias/star_cruises_logo.webp' %}" alt="logo de Star Cruises">
      <img src="{% static './media/img/logos_companias/carnival_cruises_logo.webp' %}" alt="logo de Carnival Cruises">
      <img src="{% static './media/img/logos_companias/costa-logo.webp' %}" alt="logo de Costa">
      <img src="{% static './media/img/logos_companias/aida_logo.webp' %}" alt="logo de AIDA">
    </div>
  </section>

  <!-- Seccion Sobre nosotos" -->
  <section id="nosotros" class="sobre_nosotros">
    <h2>Sobre Nosotros</h2>
    <p>Somos una agencia de viajes altamente especializada, nuestra pasión son los cruceros y nuestro conocimiento
      en el sector es incomparable. Nos enfocamos exclusivamente en la planificación y organización de cruceros,
      lo
      que nos convierte en verdaderos expertos en este campo.</p>
    <p> Nuestro equipo está formado por asesores altamente cualificados que tienen un compromiso constante con la
      excelencia.
      Realizamos visitas regulares a los barcos, participamos en seminarios y mantenemos estrechas relaciones con
      las principales compañías de cruceros. Esta dedicación nos permite ofrecerte un asesoramiento de la más alta
      calidad en cada etapa de tu viaje.</p>
    <h4>Lo que nos distingue:</h4>
    <p><strong>- Atención Personalizada:</strong> Nuestro compromiso es brindarte un servicio altamente
      personalizado. Entendemos que cada viaje es único, y nos esforzamos por adaptar cada detalle a tus
      necesidades
      específicas.</p>
    <p><strong>- Especialización en Cruceros:</strong> No somos una agencia de viajes común, somos especialistas
      en
      cruceros. Esta dedicación nos permite ofrecerte un conocimiento profundo y actualizado de los destinos,
      barcos
      y compañías de cruceros.</p>
    <p><strong>- Navegación Sencilla y Clara:</strong> Nuestra misión es hacerte sentir cómodo y seguro al
      planificar tu crucero. Nuestra plataforma en línea es intuitiva y fácil de usar, y estamos disponibles para
      responder a tus preguntas en cualquier
      momento.</p>
    <p>Te invitamos a unirte a la experiencia única de viajar en crucero con nosotros, donde la excelencia en el
      servicio y la
      pasión por los viajes se unen para crear recuerdos inolvidables.</p>
  </section>

  <!-- Sección testimonios -->
  <section>
    <h2>Nuestros clientes dicen:</h2>
    <div class="testimonios_container">
      <div class="cards_testimonios">
        <div class="cards_testimonios__name">
          <p class="name">Flarien</p>
          <div class="stars">
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
          </div>
        </div>
        <p class="description">La MEJOR experiencia que tuve en la vida. Me encanta</p>
      </div>
      <div class="cards_testimonios">
        <div class="cards_testimonios__name">
          <p class="name">Fabri Reto</p>
          <div class="stars">
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
          </div>
        </div>
        <p class="description">Muy buen servicio, lo recomiendo para cualquier viaje de placer que deseen hacer.
        </p>
      </div>
      <div class="cards_testimonios">
        <div class="cards_testimonios__name">
          <p class="name">Axelsat</p>
          <div class="stars">
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
          </div>
        </div>
        <p class="description">Si esto fuera un TP se merecen aprobar con un 10, chicos. Son la onda</p>
      </div>
    </div>
  </section>

  <!-- Sección formulario de contacto -->
  <section id="fromulario">
    <h2 class="formulario-title">Formulario de contacto:</h2>
    <!-- formualrio  -->
    <form id="contact-form" class="formulario-form">
      <div class="form-container-nameAndEmail">
        <div class="formulario-form-name">
          <input type="text" id="name" name="name" placeholder="Nombre:" required>
        </div>
        <div class="formulario-form-correo">
          <input type="email" id="email" name="email" placeholder="Correo:" required>
        </div>
      </div>
      <div class="formulario-form-mensaje">
        <textarea id="message" name="message" rows="4" placeholder="Mensaje:" required></textarea>
      </div>
      <button type="submit" class="formulario-form-button">Enviar</button>
    </form>
    <div class="spinner-hidden spinner"></div>
  </section>
</main>

{% endblock %}